* {
  padding: 0;
  margin: 0;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  background-image: url("../img/bannerOficial.jpg");
  background-size: 110% 120%;
  background-repeat: no-repeat;
  background-position: unset;
  position: relative;
}

.search {
  border: 0px;
  border-radius: 10px;
  width: 490px;
  height: 35px;
  margin-left: 10px;
  outline: none;
  padding: 0 20px;
  font-size: 18px;
  color: black;
  border: 1px solid silver;
}

::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 18px;
}

.Search {
  position: relative;
}

#lupa {
  width: 30px;
  position: absolute;
  right: 0;
  outline: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
  margin-top: 5px;
  margin-right: 8px;
}

#lupa img {
  width: 30px;
  cursor: pointer;
}

@media (max-width: 1210px) {
  .Container {
    height: 70vh;
  }
}

@media (max-width: 1200px) {
  .Container {
    height: 50vh;
  }
}

@media (max-width: 1000px) {
  .Container {
    height: 60vh;
  }
}

/*Surface Pro 7*/
@media (max-width:912px){
    .search{
        width:400px;
    }

    .Search{
        margin-top: 80px;
    }
}

@media (max-width: 900px) {
  .Container {
    height: 50vh;
  }
}

@media (max-width: 810px) {
  .search {
    width: 400px;
  }

  .Container {
    height: 50vh;
  }
}

@media (max-width: 670px) {
  .search {
    width: 350px;
  }
}

@media (max-width: 600px) {
  .search {
    width: 300px;
  }
}


/*Surface Duo*/
@media (max-width: 540px) {
  .search {
    width: 370px;
  }

  .Search{
    margin-top: -20px;
    margin-left: 10px;
  }

  .Container {
    background-image: url("../img/bannerMovil_adobe_express.svg");
    background-position: 20% 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:local;
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 500px) {
  .search {
    width: 250px;
  }

  .Search {
    margin-top: -10px;
  }

  .Container {
    background-image: url("../img/bannerMovil_adobe_express.svg");
    background-position: 20% -13%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 220px;
  }
}

@media (max-width: 460px) {
  .search {
    width: 230px;
  }

  .Search {
    margin-top: -10px;
  }

  .Container {
    background-image: url("../img/bannerMovil_adobe_express.svg");
    background-position: 20% -12%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 420px) {
  .search {
    width: 220px;
  }

  .Container {
    background-image: url("../img/bannerMovil_adobe_express.svg");
    background-position: 20% -10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 200px;
  }
}

/*Iphone XR*/

@media (max-width: 414px) {
  .Container {
    background-image: url("../img/bannerMovil_adobe_express.svg");
    background-position: 20% -7%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 244px;
  }

  .search {
    width: 280px;
  }

  .Search {
    width: 310px;
    height: 35px;
    margin-top: -70px;
    margin-right: 20px;
  }

  #lupa {
    margin-right: -10px;
    margin-top: -32px;
  }
}

/*Samsung Galaxy S20 Ultra*/
@media (max-width: 412px) {
  .search {
    width: 275px;
  }

  .Search {
    margin-top: -80px;
    margin-left: 10px;
  }

  #lupa{
    margin-right: -5px;
  }
}

/*Pixel 5*/
@media (max-width: 393px) {
  .search {
    width: 260px;
  }

  .Search {
    width: 310px;
    height: 35px;
    margin-top: -80px;
    margin-right: 30px;
  }

  #lupa {
    margin-right: 5px;
    margin-top: -32px;
  }
}

/*Iphone 12 Pro*/
@media (max-width: 390px) {
  .search {
    width: 260px;
  }

  .Search {
    width: 310px;
    height: 35px;
    margin-top: -75px;
    margin-right: 30px;
  }

  #lupa {
    margin-right: 5px;
    margin-top: -32px;
  }
}

/*Iphone SE*/
@media (max-width: 375px) {
  .Container {
    background-image: url("../img/bannerMovil_adobe_express.svg");
    background-position: 10% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 200px;
  }

  .search {
    width: 250px;
  }

  .Search {
    margin-left: 10px;
    margin-top: -32px;
  }

  #lupa {
    margin-top: 5px;
    margin-right: 20px;
  }
}

/*Samsung Galaxy S8+*/
@media (max-width: 360px) {
  .Container {
    background-image: url("../img/bannerMovil_adobe_express.svg");
    background-position: 10% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 200px;
  }

  .search {
    width: 235px;
  }

  .Search {
    margin-left: 55px;
    margin-top: -32px;
  }

  #lupa {
    margin-right: 30px;
  }
}

@media (max-width: 320px) {
  .search {
    width: 150px;
  }

  .Search {
    margin-left: 100px;
    margin-top: -110px;
  }

  #lupa {
    margin-right: 135px;
    width: 10px;
  }

  ::placeholder {
    font-size: 15px;
    margin-top: -10px;
  }
}

@media (max-width: 300px) {
  .Search {
    margin-top: -130px;
  }
}


/*Galaxy Fold*/
@media (max-width: 280px) {
  .Container {
    background-image: url("../img/bannerMovil_adobe_express.svg");
    background-position: 20% -6%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: local;
    width: 100%;
    height: 244px;
  }

  .Search {
    margin-top: -70px;
    margin-right:15px;
  }

  .search{
    width: 172px;
    height: 4vh;
  }

  #lupa{
    margin-right: 105px;
    margin-top: 3px;
  }

  #lupa img{
    width: 25px;
  }
}
