

*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.contenedor-cartas-producto{
    padding-left: 21%;
    padding-top: 100px;
    color: white;
    background-image: url("../../assets/img/supra-performance-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    min-height: 100vh;
}

.contenedor-cartas-producto::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro con opacidad */
    z-index: -1;
}

.cartas-producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 90px;
    column-gap: 90px;
    margin-top: 30px;
}

.cartap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    width: min-content;
    border-radius: 10px;
    color: black;
    box-shadow: 5px 5px 5px  grey;
    cursor: pointer;

    & img{
        width: 150px;
        border-radius: 10px;
    }

    & p{
        margin-bottom: 5px;
        font-size: 90%;
    }

}

.cartap-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 37px;
    overflow: hidden;
}

/* @media screen and (max-width: 1380px){

    .contenedor-cartas-producto{
        padding-left: 260px;
    }
} */

@media screen and (max-width: 1275px){

    .cartas-producto{
        column-gap: 50px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contenedor-cartas-producto{
        padding-left: 28%;
    }
}

@media screen and (max-width: 950px){

    .cartas-producto{
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .contenedor-cartas-producto{
        padding-left: 38%;
    }
}

@media screen and (max-width: 750px){

    .contenedor-cartas-producto{
        display: grid;
        justify-items: center;
        padding: 100px 10px;

        & h1{
            justify-self: start;
            margin-left: 50px;
        }
    }
    .cartap{
        margin: 50px;
    }
}

@media screen and (max-width: 650px) {

    .cartap{
        opacity: 1;

        & h3{
            font-size: 80%;
        }

        & img{
            width: 130px;
        }

        & p{
            font-size: 70%;
        }
    }
    
    .cartap-info{
        height: 50px;
    }

    .cartas-producto{
        row-gap: 10px;
    }
}

@media screen and (max-width: 580px){

    .cartap{
        margin: 0;

        & h3{
            font-size: 60%;
        }

        & img{
            width: 100px;
        }

        & p{
            font-size: 60%;
        }
    }

    .cartas-producto{
        row-gap: 50px;
        column-gap: 50px;
    }

    .contenedor-cartas-producto{
        padding: 80px 0px;
    }
}

@media screen and (max-width: 370px){
    
    .cartas-producto{
        row-gap: 50px;
        column-gap: 30px;
        justify-items: start;
        padding: 30px 0;
    }

    .contenedor-cartas-producto h1{
        font-size: 120%;
        margin-left: 30px;   
    }
}
