*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.overlay_modal_cimg{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms;
    z-index: 20000;
    overflow: hidden;
}

.modal_content_Cimg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    border-radius: 20px;
    background-color: #fff;
}

.modal_content_Cimg h2{
    font-size: 2rem;
}

.modal_content_Cimg p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.contaner_img_modal_c {
    padding: 1rem;
}

.contaner_img_modal_c img {
    min-width: 10rem;
    max-width: 12rem;
}

.btn_cancel_modalCimg{
    margin: 30px 10px;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000;
    color: white;
    cursor: pointer;
    outline: auto;
    transition: 0.5s;
    font-size: 18px;
}

.btn_confirm_modalCimg:hover{
    background-color: #b10000;
}

.btn_confirm_modalCimg{
    margin: 30px 10px;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: #262626;
    color: white;
    cursor: pointer;
    outline: auto;
    transition: 0.5s;
    font-size: 18px;
}

.btn_confirm_modalCimg:hover{
    background-color: #111111;
}

@media (max-width: 550px){
    .modal_content_Cimg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 20rem;
        height: 25rem;
        border-radius: 20px;
        background-color: #fff;
    }

    .contaner_img_modal_c img {
        min-width: 9rem;
        max-width: 5rem;
    }

    .btn_cancel_modalCimg {
        margin: 10px 10px;
        padding: 13px 30px;
        border: none;
        border-radius: 5px;
        background-color: #FF0000;
        color: white;
        cursor: pointer;
        outline: auto;
        transition: 0.5s;
        font-size: 15px;
    }

    .btn_confirm_modalCimg {
        margin: 10px 10px;
        padding: 13px 30px;
        border: none;
        border-radius: 5px;
        background-color: #262626;
        color: white;
        cursor: pointer;
        outline: auto;
        transition: 0.5s;
        font-size: 15px;
    }

    .modal_content_Cimg h2 {
        font-size: 1.6rem;
    }

    .modal_content_Cimg p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 370px){
    .modal_content_Cimg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 17rem;
        height: 21rem;
        border-radius: 20px;
        background-color: #fff;
    }

    .contaner_img_modal_c img {
        min-width: 8rem;
        max-width: 5rem;
    }

    .modal_content_Cimg h2 {
        font-size: 1.3rem;
    }
    
    .modal_content_Cimg p {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .btn_cancel_modalCimg {
        margin: 10px 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #FF0000;
        color: white;
        cursor: pointer;
        outline: auto;
        transition: 0.5s;
        font-size: 12px;
    }

    .btn_confirm_modalCimg {
        margin: 10px 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #262626;
        color: white;
        cursor: pointer;
        outline: auto;
        transition: 0.5s;
        font-size: 12px;
    }
}