*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_all_details{
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
}

.container_all_details h1{
    padding-left: 1rem;
}

.container_all_details .container__details{
    display: flex;
    justify-content: space-around;
    margin: 60px 30px;
}

.container_all_details .container__details .contaier_img_details{
    outline: auto;
    box-shadow: 10px 12px 6px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 4rem;
    transition: transform .5s
}

.img__details{
    width: 25rem;
    padding: 25px;
}

.container_all_details .container__details .contaier_img_details:hover{
    transform: scale(1.07);
}

.container_btn_details{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.container_btn_details button{
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: #262626;
    color: white;
    cursor: pointer;
    outline: auto;
    transition: 0.5s;
    font-size: 20px;
}

.container_btn_details button:hover{
    background-color: #0e0e0e;
}

.container_info_details h2{
    margin-top: 0.5rem;
}

.container_all_details .container__details .container_info_details .title_details{
    padding: 0;
}

.container_all_details .container__details .container_info_details .precio{
    background-color: #F4FF7B;
}

.container_info_details .title-description{
    font-weight: normal;
}

.container_info_details {
    width: 45rem;
    margin-left: 0rem;
}

/*Select*/

.container_select_details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#colores{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background:  #262626;
    color: #FFF;
    background-image: none;
}

#colores::-ms-expand{
    display: none;
}

#colores{
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #262626;
    overflow: hidden;
    border-radius: .25em;
}

#colores{
    flex: 1;
    padding: 0 .5em;
    color: #FFF;
    cursor: pointer;
}

.container_select_details::after{
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #FFF;
    cursor: pointer;
    pointer-events: none;
    transition: 25s all ease;
}