* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#error-modal {
  display: none;
  position: fixed;
}

.container_error_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 1vh;
  height: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms;
  margin-top: 20vh;
  margin-left: 80vh;
}

.content_ErrorModal {
  width: 350px;
  height: 68vh;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.container_errorModal_img img {
  width: 225px;
  margin: 10px;
}

.content_ErrorModal h2,
p {
  margin-top: 10px;
}

.content_ErrorModal h2 {
  font-size: 28px;
}

.content_ErrorModal p {
  font-size: 18px;
}

.container_btn_close_modal_error {
  padding-top: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: end;
}

.btn-close-error-modal {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.btn_close_modal_error:hover {
  background-color: #dddddd;
}

.btn-close-error-modal img {
  width: 30px;
}

/*Responsive*/

@media screen and (max-width: 1290px){
  .container_error_modal{
    margin-left: 70vh;
    margin-top: 15vh;
  }

  .content_ErrorModal{
    height: 55vh;
  }
}

@media screen and (max-width:1030px){
  .container_error_modal{
    margin-left: 70vh;
    margin-top: 20vh;
  }

  .content_ErrorModal{
    height: 70vh;
  }
}

@media screen and (max-width:920px){
  .container_error_modal{
    margin-left: 29vh;
    margin-top: 12vh;
  }

  .content_ErrorModal{
    height: 32vh;
  }
}

@media screen and (max-width:830px){
  .container_error_modal{
    margin-left: 29vh;
    margin-top: 15vh;
  }

  .content_ErrorModal{
    height: 35vh;
  }
}

@media screen and (max-width: 770px){
  .content_ErrorModal{
    height: 40vh;
  }

  .container_error_modal{
    margin-left: 31vh;
    margin-top: 20vh;
  }
}

@media (max-width: 430px) {
  .content_ErrorModal {
    width: 330px;
    height: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  .container_errorModal_img img {
    width: 180px;
    margin: 10px;
  }

  .content_ErrorModal h2 {
    font-size: 25px;
  }

  .content_ErrorModal p {
    font-size: 16px;
  }
}
