* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.FooterContain {
  background-color: #262626;
  width: 100%;
  height: 50vh;
  margin-top: auto;
}

.fa-brands {
  color: white;
  font-size: 20px;
  margin: 10px;
}

.fa-facebook:hover {
  color: #1f7bf2;
}

.fa-instagram:hover {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(135deg,
      #c70996 0%,
      #eb0824 50%,
      #fcca13 100%);
}

.fa-twitter:hover {
  color: #249ef1;
}

.fa-youtube:hover {
  color: #ff0909;
}

.Follow_us {
  display: flex;
  justify-content: center;
}

.Follow_us h2 {
  margin-top: 13px;
  margin-right: 10px;
  color: white;
  font-size: 13px;
}

.Logo img {
  margin: 0 auto;
  display: block;
  width: 30%;
  height: 31vh;
}

.Copy {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.Copy img {
  margin-right: 10px;
  margin-top: 2px;
  width: 15px;
}

/*Responsive*/

@media (max-width: 1920px) {
  .Logo img {
    width: 70%;
    height: 35vh;
  }

  .Follow_us {
    margin-top: 10px;
  }

  .Follow_us .fa-brands {
    font-size: 35px;
  }

  .Follow_us h2 {
    margin-top: 10px;
    font-size: 25px;
  }

  .Copy h5 {
    margin-top: 8px;
    font-size: 20px;
  }

  .Copy img {
    width: 20px;
    margin-top: 10px;
  }

  .FooterContain {
    height: fit-content;
  }
}

/*Nest Hub Max*/
@media (max-width:1280px) {
  .Follow_us .fa-brands {
    font-size: 35px;
  }

  .Follow_us h2 {
    margin-top: 10px;
    font-size: 24px;
  }

  .Follow_us {
    margin-top: 5px;
  }
}

/*Nest Hub*/
@media (max-width:1024px) {
  .Follow_us .fa-brands {
    font-size: 35px;
  }

  .Follow_us h2 {
    font-size: 25px;
    margin-top: 10px;
  }
}

/*Surface Pro 7*/
@media (max-width:912px) {
  .Logo Img {
    width: 700px;
    height: 35vh;
  }

  .Follow_us {
    margin-top: -25px;
  }

  .Follow_us .fa-brands {
    font-size: 45px;
  }

  .Follow_us h2 {
    font-size: 30px;
    margin-top: 12px;
  }

  .Copy h5 {
    font-size: 26px;
  }
}

/*IPad Air*/
@media (max-width:820px) {
  .Logo img {
    width: 70%;
    margin-top: -20px;
    height: 35vh;
  }

  .Follow_us .fa-brands {
    font-size: 40px;
  }

  .Follow_us h2 {
    margin-top: 10px;
    font-size: 30px;
  }

  .Copy h5 {
    font-size: 25px;
  }

  .Copy img {
    width: 20px;
  }

  .FooterContain {
    height: fit-content;
  }
}

/*IPad Mini*/
@media (max-width:768px) {
  .FooterContain {
    height: fit-content;
  }

  .Logo img {
    width: 70%;
    height: 26vh;
    margin-top: 1px;
  }

  .Follow_us {
    margin-top: 10px;
  }

  .Follow_us .fa-brands {
    font-size: 35px;
  }

  .Follow_us h2 {
    margin-top: 10px;
    font-size: 25px;
  }

  .Copy {
    margin-top: 10px;
  }

  .Copy h5 {
    font-size: 22px;
  }

  .Copy img {
    width: 20px;
  }
}

/*Surface Duo*/
@media (max-width:540px) {

  .Logo img {
    height: 30vh;
  }

  .Follow_us {
    margin-top: 10px;
  }
}

/*IPhone XR*/
@media (max-width:414px) {
  .Follow_us {
    margin-top: -10px;
  }
}

/*Samsung Galaxy A51/71 and Facebook for Android v407 on Pixel 6*/
@media (max-width:412px) {
  .Logo img {
    height: 25vh;
  }
}

/*Pixel 5*/
@media (max-width:393px) {
  .FooterContain {
    height: fit-content;
  }

  .Logo img {
    width: 80%;
    height: 20vh;
  }

  .Follow_us {
    margin-top: 10px;
  }

  .Follow_us .fa-brands {
    font-size: 25px;
    margin-top: 7px;
  }

  .Follow_us h2 {
    margin-top: 5px;
    font-size: 20px;
  }

  .Copy h5 {
    font-size: 16px;
  }

  .Copy img {
    width: 10px;
    margin-top: 12px;
  }

  .Copy {
    margin-top: 7px;
  }
}

/*IPhone 12 Pro*/
@media (max-width: 390px) {
  .FooterContain {
    height: fit-content;
  }

  .Logo img {
    width: 80%;
    height: 20vh;
  }

  .Follow_us {
    margin-top: 10px;
  }

  .Follow_us .fa-brands {
    font-size: 25px;
    margin-top: 7px;
  }

  .Follow_us h2 {
    margin-top: 5px;
    font-size: 20px;
  }

  .Copy h5 {
    font-size: 16px;
  }

  .Copy img {
    width: 10px;
    margin-top: 12px;
  }

  .Copy {
    margin-top: 7px;
  }
}

/*IPhone SE*/
@media (max-width: 375px) {
  .FooterContain {
    height: fit-content;
  }

  .Logo img {
    width: 80%;
    height: 20vh;
  }

  .Follow_us {
    margin-top: 10px;
  }

  .Follow_us .fa-brands {
    font-size: 20px;
    margin-top: 7px;
  }

  .Follow_us h2 {
    margin-top: 5px;
    font-size: 16px;
  }

  .Copy h5 {
    font-size: 14px;
  }

  .Copy img {
    width: 10px;
    margin-top: 12px;
  }

  .Copy {
    margin-top: 7px;
  }
}

/*Samsung Galaxy S8+*/
@media (max-width:360px) {
  .Follow_us .fa-brands {
    font-size: 25px;
  }

  .Follow_us h2 {
    font-size: 18px;
    margin-top: 7px;
  }
}

/*Galaxy Fold*/
@media (max-width:280px) {
  .Logo img {
    width: 100%;
    height: 23vh;
  }

  .Follow_us .fa-brands {
    font-size: 20px;
  }

  .Follow_us h2 {
    font-size: 13px;
    margin-top: 8px;
  }

  .Copy h5{
    font-size: 11px;
  }
}