*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.titulo-marcas{
    margin: 30px;
}

.section-marcas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    justify-items: center;
}

.marca1{
    margin: 5PX;
}

.marca2{
    margin: 5PX;
}

.marca3{
    margin: 5PX;
}

.marca4{
    margin: 5PX;
}

@media (max-width:1320px){
    #cot{
        width: 200px;
    }

    .GW{
        width: 200px;
    }

    .giant{
        width: 200px;
    }

    .trek{
        width: 200px;
    }
}

@media (max-width:865px){
    #cot{
        width: 150px;
    }

    .GW{
        width: 150px;
    }

    .giant{
        width: 150px;
    }

    .trek{
        width: 150px;
    }
}

@media (max-width:660px){
    #cot{
        width: 130px;
    }

    .GW{
        width: 130px;
    }

    .giant{
        width: 130px;
    }

    .trek{
        width: 130px;
    }
}

@media (max-width:560px){
    #cot{
        width: 110px;
    }

    .GW{
        width: 110px;
    }

    .giant{
        width: 110px;
    }

    .trek{
        width: 110px;
    }
}

@media (max-width:500px){
    #cot{
        width: 80px;
    }

    .GW{
        width: 80px;
    }

    .giant{
        width: 80px;
    }

    .trek{
        width: 80px;
    }
}
