body{
    width: 100%;
    background-image: url("../../assets/img/supra-performance-header.jpg");
    background-position: top left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.contenedor-filtros{
    height: 100%;
    position: fixed;
    width: 250px;
    padding: 50px 0px;
    background-color: #161616;
    margin-top: 20px;
}

.filtros{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    color: white;
}

.contenedor-checks{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0px 5px;
}

.filtro1{
    margin: 20px;
}

.filtro2{
    margin: 20px;
}

.filtro3{
    margin: 20px;
}

.label-check{
    padding: 8px 20px;
    width: 100%;
    height: 100%;
}

.label-check label{
    font-size: 110%;
    margin: 0px 20px;
}

.check{
    padding: 20px;
    transform: scale(1.8);
    cursor: pointer;
}
