/*body{
    position: relative;
    width: 100%;
    background-image: url("../../assets/img/supra-performance-header.jpg");
    background-position: top left center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

*/

*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.contenedor-filtros{
    height: 100%;
    position: fixed;
    width: 250px;
    padding: 50px 0px;
    background-color: #161616;
    margin-top: 20px;
}

.filtros{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    color: white;
}

.contenedor-checks{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0px 5px;
}

.filtro1{
    margin: 20px;
}

.filtro2{
    margin: 20px;
}

.filtro3{
    margin: 20px;
}

.label-check{
    padding: 8px 20px;
    width: 100%;
    height: 100%;
}

.label-check label{
    font-size: 110%;
    margin: 0px 20px;
}

.check{
    padding: 20px;
    transform: scale(1.8);
    cursor: pointer;
}

@media screen and (max-width: 1380px) {

    .contenedor-filtros{
        width: 180px;
    }
}

@media screen and (max-width: 950px){

    .contenedor-filtros h1{
        font-size: 150%;
    }

}

@media screen and (max-width: 750px){

    .contenedor-filtros{
        display: none;
    }

    body{
        background-position: center;
    }
}
