.alert-cart-container{
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px black solid;


    & img{
        width: 75px;
        height: 75px;
        margin-right: 20px;
    }
}

