*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*body{
/*
body{
    background-image: url('../img/fondo_login_register.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}*/

/*body{
    overflow: hidden;
}*/

.Fondo__login__register{
    background-image: url('../img/fondo_login_register.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 714px;
    display: flex;
    justify-content: center;
}
*/

.Login__Register{
    display: flex;
    justify-content: center;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    height: 500px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: linear-gradient(180deg, #000 0%, rgba(111, 111, 112, 0.87) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.caja__trasera div{
    margin: 100px 50px;
    color: white;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    background: #262626;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transform: all 300ms;
    border: none;
    transition: 0.5s;
}

.caja__trasera button:hover{
    background-color: white;
    color: black;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -255px;
    left: 15px;
}
.contenedor__login-register form{
    width: 100%;
    padding: 70px 20px;
    background-color: #fff;
    position: absolute;
    border-radius: 10px;
}
.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border: none;
    background-color: #E7E7E7;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
}
.contenedor__login-register form .btn__f{
    padding: 15px 40px;
    margin-top: 40px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: #262626;
    color: white;
    cursor: pointer;
    outline: auto;
    transition: 0.5s;
}

.container__btn{
    display: flex;
    justify-content: end;
}

.Formulario__login{
    opacity: 1;
    display: block;
}

.Formulario__register{
   display: none;
}

/*Responsive*/

@media screen and (max-width: 850px) {

    .Fondo__login__register{
        height: 760px;
    }

    .Login__Register{
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera{
        max-width: 380px;
        height: 300px;
    }
    .caja__trasera div{
        margin: 0;
        position: absolute;
    }

    /*Formulario*/

    .contenedor__login-register{
        top: 10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}