*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.background-image-profile-update-container{

    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/bicycle-nature2.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
}

.background-image-profile-container{
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/img/bicycle-nature2.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    position: relative;
}

.profile-container{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding-top: 7rem; */
    background-color: white;
    height: 500px;
    width: 90vw;
    border-radius: 10px;
    opacity: 97%;
    margin-bottom: 4rem;


    & img{
        width: 250px;
    }

    & h2{
        margin-top: 10px;
    }

}

.welcome-container{
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.profile-welcome-container{
    height: 100%;
    text-align: center;
    margin-left: 8vh;
}

.profile-options-container{
    width: 100%;
}


.profile-information-container{
    display: flex;
    justify-content: space-evenly;
    transition: all 1s;

    & input{
            margin-top: 20px;
            padding: 1.2rem;
            width: 60vh;
            border-radius: 10px;
            max-width: 25rem;
            border: none;
            background-color: rgb(236, 236, 236);
            transition: all 2s;
    }

    & input::placeholder{
        font-weight: lighter;
    }

    & label{
        margin-top: 1rem;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        transition: all 1s;
    }

    & .profile-small-information-container{
        display: flex;
        flex-direction: column;
    }
}

.profile-edit-information-container{

    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 4rem;

    & #profile-edit-information-button-container{
        padding: 13px 40px;
        border: none;
        border-radius: 5px;
        background-color: #262626;
        color: white;
        cursor: pointer;
        outline: none;
        transition: 0.5s;
        font-size: 100%;
        text-align: center;
    }

    & #profile-singout-button-container{
        padding: 13px 40px;
        border: none;
        border-radius: 5px;
        background-color: rgb(201, 0, 0);
        color: white;
        cursor: pointer;
        outline: none;
        transition: 0.5s;
        font-size: 100%;
        text-align: center;
    }
}

.history-user-container{

    background-color: white;
    margin-top: 2rem;
    width: 70vw;
    margin-bottom: 3rem;
    border-radius: 10px;

    & .history-user-title-container{
        margin-top: 2rem;
    
        & h1{
            text-align: center;
        }
    }

    & .history-user-list-container{
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 1400px){

    .profile-container{
        height: 400px;
        width: 90vw;
    
        & img{
            width: 200px;
        }
    }

    .welcome-container{
        width: 300px;
    
    }

    .profile-information-container{


        & input{
            width: 30vh;
        }
    }
}


@media screen and (max-width: 1180px){

    .profile-welcome-container{
        height: 100%;
        text-align: center;
        margin-left: 4vh;
    }
}

@media screen and (max-width: 950px){

    .profile-edit-information-container{
    
        & #profile-edit-information-button-container{
            padding: 13px 20px;
            font-size: 85%;
        }
    
        & #profile-singout-button-container{
            padding: 13px 20px;
            font-size: 85%;
        }
    }

    .profile-information-container{

        & input{
            width: 18vh;
        }

        & label{
            margin-top: 1rem;
            font-size: 1rem;
            margin-bottom: 0.5rem;
            transition: all 1s;
        }
    }

    .profile-container{
        height: 350px;
        width: 90vw;
    
        & img{
            width: 150px;
        }

        & h2{
            font-size: 100%;
        }
    }
}

@media screen and (max-width: 800px){

    .profile-container{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        /* padding-top: 7rem;
        background-color: white;
        width: 90vw;
        border-radius: 10px;
        opacity: 97%;
        margin-bottom: 4rem; */
    }

    .welcome-container{
        width: 30%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .profile-information-container{

        & input{
            width: 22vh;
        }
    }
}

@media screen and (max-width: 650px){

    .profile-information-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-container{

        height: 600px;

        & img{
            width: 120px;
        }

        & h2{
            width: 300px;
        }
    }

    .profile-information-container{

        & input{
            width: 30vh;
        }
    }

    .history-user-title-container{

        & h1{
            font-size: 120%;
        }
    }

    .profile-welcome-container{
        margin: 0;
    }
}

@media screen and (max-width: 380px){

    .profile-container{

        height: 600px;

        & img{
            width: 100px;
        }
    }

    .profile-welcome-container{

        margin: 0;
    }

    .profile-information-container{

        & input{
            width: 40vh;
        }

        & label{
            font-size: 80%;
        }
    }

    .profile-edit-information-container{

    
        & #profile-edit-information-button-container{
            padding: 13px 20px;
            border: none;
            border-radius: 5px;
            background-color: #262626;
            color: white;
            cursor: pointer;
            outline: none;
            transition: 0.5s;
            font-size: 70%;
            text-align: center;
        }
    
        & #profile-singout-button-container{
            padding: 13px 20px;
            font-size: 70%;
        }
    }
}


